:root {
    /* ===== Colors ===== */
    --color-background: #DADDE2;
    --color-surface: #F5F6F8;

    --color-text-primary: #1F2937;
    --color-text-secondary: #4B5563;

    --color-border: #BFC6D1;

    --color-primary: #1D4ED8;
    --color-primary-hover: #1E40AF;

    --color-accent: #9F1239;
    --color-danger: #9F1239;

    /* ===== Font Sizes ===== */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;

    /* ===== Font Weights ===== */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* ===== Border Radius ===== */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-full: 9999px;
}

body {
    background-color: var(--color-background);
}

h1 {
    color: var(--color-text-primary);
}

h2 {
    color: var(--color-text-primary);
}

h3 {
    color: var(--color-text-primary);
}

p {
    color: var(--color-text-primary);
}

button {
    background: var(--color-primary);
    color: var(--color-surface);

}

button:hover {
    background: var(--color-primary-hover);
}


nav {

    background: transparent;
    border-bottom: var(--color-border);
}

ul {
    list-style: none;
}

nav ul {
    display: flex;

}

nav ul li {
    color: var(--color-text-primary);
}

.headliner {

    border-radius: var(--radius-sm);

    background-image: url(/assets/images/headlinerimgs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}





ol li {
    color: var(--color-text-primary)
}

.card {
    background: var(--color-surface);
    border: 1px solid var(--color-border);
}


footer {

    background: var(--color-background);
    color: var(--color-text-secondary);
    border-top: 1px solid var(--color-border);
}

footer p {
    color: var(--color-text-secondary);
}

/* slide section */
.slider {
    width: 100%;
    overflow: hidden;

}


.slides {
    display: flex;
    width: max-content;
    animation: move 120s linear infinite;
}

.slides img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    flex-shrink: 0;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}