@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=VT323&display=swap');



:root {
    /* ===== Colors ===== */
    --color-background: #F1F3F6;
    --color-surface: #FFFFFF;

    --color-text-primary: #1F2937;
    --color-text-secondary: #6B7280;

    --color-border: #E5E7EB;

    --color-primary: #374151;
    --color-primary-hover: #111827;

    --color-accent: #BE123C;
    --color-danger: #B91C1C;



    /* ===== Font Sizes ===== */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;

    /* ===== Font Weights ===== */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* ===== Border Radius ===== */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-full: 9999px;
}

body {
    background-color: var(--color-background);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    color: var(--color-text-primary);
}

h2 {
    color: var(--color-text-primary);
}

h3 {
    color: var(--color-text-primary);
}

p {
    color: var(--color-text-primary);
}

i {
    padding: 0 8px;
}

button {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 16px;

}

button:hover {
    background-color: var(--color-primary-hover);
}

.badge {
    background-color: var(--color-accent);
    color: white;
}


.nav-bar {

    background-color: var(--color-surface);
    border-bottom: var(--color-border);
}

ul {
    list-style: none;
}

nav ul {
    display: flex;

}

nav ul li {
    color: var(--color-text-secondary);
}

.headliner {

    border-radius: var(--radius-sm);

}





ol li {
    color: var(--color-text-primary)
}

.card {
    background: var(--color-surface);
    border: 1px solid var(--color-border);
}


footer {

    background: var(--color-background);
    color: var(--color-text-secondary);
    border-top: 1px solid var(--color-border);
}

footer p {
    color: var(--color-text-secondary);
}

/* slide section */
.caraousel {
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;

}


.group {
    flex-shrink: 0;
    width: max-content;
    gap: 10em;
    animation: move 40s infinite linear;
    padding-right: 1em;
}

.group img {
    flex: 0 0 5em;
    height: 200px;
    width: auto;
    object-fit: scale-down;

    flex-shrink: 0;
}


@keyframes move {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}